KEYFRAME_QA_FIXTURES=0
KEYFRAME_QA_FIXTURE_36381="videos/36381.mp4"
KEYFRAME_QA_FIXTURE_36380="videos/36380.mp4"
KEYFRAME_QA_FIXTURE_36324="videos/36324.mp4"
KEYFRAME_QA_FIXTURE_11111="videos/11111.mp4"
